





/* Main Css */
.navbar .nav-item{
padding-right: 20px;

}































/*! Theme Style */
/*! Theme Style & Components */
body{line-height:1.8;font-size:15px;}
::-moz-selection{background:#000;color:#fff}
::selection{background:#000;color:#fff}
a{-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;color:#000}
a:hover{color:#000;text-decoration:none}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{color:#000}
h5{padding:3%;}
.templateux-footer,{padding:7em 0}
.templateux-overlap{background-color:white;border-radius:10px;margin-bottom:5%;margin-top:-5%;padding:5% 5%;box-shadow: 0 10px 20px -8px;-webkit-box-shadow:0 10px 20px -8px rgba(0, 0, 0, 0.2);box-shadow:0 10px 20px -8px rgba(0, 0, 0, 0.2)}
@media (min-width:576px){.templateux-overlap{padding:50px}}
.lead{font-size:18px}
.container-fluid{max-width:1800px}
.testimonial-wrap .quote{line-height:1;position:relative;font-size:100px;color:#000;text-align:center}
.templateux-counter .templateux-number{display:block;font-size:50px;color:#fff}
.templateux-counter .templateux-label{text-transform:uppercase;color:#fff;opacity:.5}
h6{text-transform:uppercase;letter-spacing:.1em;font-weight:400;font-size:17px;color:#b3b3b3}
.mfp-with-zoom.mfp-bg,.mfp-with-zoom .mfp-container{opacity:0;-webkit-backface-visibility:hidden;-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-o-transition:all 0.3s ease-out;transition:all 0.3s ease-out}
.mfp-with-zoom.mfp-ready .mfp-container{opacity:1}
.mfp-with-zoom.mfp-ready.mfp-bg{opacity:0.8}
.mfp-with-zoom.mfp-removing.mfp-bg,.mfp-with-zoom.mfp-removing .mfp-container{opacity:0}
.custom-pagination{width:100%;text-align:center;display:inline-block}
.custom-pagination li{display:inline-block}
.custom-pagination .next a,.custom-pagination .prev a{font-size:20px!important;line-height:38px!important;position:relative}
.custom-pagination .next a i,.custom-pagination .prev a i{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.custom-pagination .next a,.custom-pagination .prev a,.custom-pagination li a{width:40px;height:40px;line-height:40px;padding:0;margin:0;border-radius:50%!important;font-size:16px}
.custom-pagination .next.active a,.custom-pagination .prev.active a,.custom-pagination li.active a{display:block;width:40px;height:40px;line-height:40px;padding:0;margin:0;border-radius:50%!important;font-size:16px;background:#0389FF;color:#fff}
.custom-pagination .next.active a:focus,.custom-pagination .next.active a:hover,.custom-pagination .prev.active a:focus,.custom-pagination .prev.active a:hover,.custom-pagination li.active a:focus,.custom-pagination li.active a:hover{color:#fff}
.custom-pagination .prev{float:left}
.custom-pagination .next{float:right}
.post-info{font-size:12px;text-transform:uppercase;font-weight:bold;color:#fff;letter-spacing:.1em}
.post-info>div{display:inline-block}.post-info>div .seperator{display:inline-block;margin:0 10px;opacity:.5}
.tagcloud a{text-transform:uppercase;display:inline-block;padding:4px 10px;margin-bottom:7px;margin-right:4px;border-radius:4px;color:#000;border:1px solid #ccc;font-size:11px}
.tagcloud a:hover{border:1px solid #000}
.comment-form-wrap{clear:both}
.comment-list{padding:0;margin:0}
.comment-list .children{padding:50px 0 0 40px;margin:0;float:left;width:100%}
.comment-list li{padding:0;margin:0 0 30px 0;float:left;width:100%;clear:both;list-style:none}
.comment-list li .vcard{width:80px;float:left}.comment-list li .vcard img{width:50px;border-radius:50%}
.comment-list li .comment-body{float:right;width:calc(100% - 80px)}
.comment-list li .comment-body h3{font-size:20px}
.comment-list li .comment-body .meta{text-transform:uppercase;font-size:13px;letter-spacing:.1em;color:#ccc}
.comment-list li .comment-body .reply{padding:5px 10px;background:#e6e6e6;color:#000;text-transform:uppercase;font-size:11px;letter-spacing:.1em;font-weight:400;border-radius:4px}
.comment-list li .comment-body .reply:hover{color:#fff;background:black}
.search-form{background:#f7f7f7;padding:10px}
.search-form .form-group{position:relative}
.search-form .form-group input{padding-right:50px}
.search-form .icon{position:absolute;top:50%;right:20px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.sidebar-box{margin-bottom:30px;padding:25px;font-size:15px;width:100%;float:left;background:#fff}
.sidebar-box :last-child{margin-bottom:0}.sidebar-box h3{font-size:18px;margin-bottom:15px}
.categories li,.sidelink li{position:relative;margin-bottom:10px;padding-bottom:10px;border-bottom:1px dotted #dee2e6;list-style:none}
.categories li:last-child,.sidelink li:last-child{margin-bottom:0;border-bottom:none;padding-bottom:0}
.categories li a,.sidelink li a{display:block}
.categories li a span,.sidelink li a span{position:absolute;right:0;top:0;color:#ccc}
.categories li.active a,.sidelink li.active a{color:#000;font-style:italic}
.templateux-navbar{width:100%;position:relative;background-color:#0389FF;padding:10px 0;z-index:2;}
@media (min-width:768px){.templateux-navbar{position:absolute;background-color:transparent;padding:5px 0}}
.templateux-navbar .templateux-logo{margin-top:10px}
.templateux-navbar .templateux-logo a{ color:white;font-family:Comic Sans MS;font-size:200%;font-weight:bold;}
.templateux-navbar .templateux-toggle{outline:none!important;display:none}
.templateux-navbar .templateux-toggle.templateux-toggle-light .hamburger-inner,.templateux-navbar .templateux-toggle.templateux-toggle-light .hamburger-inner:after,.templateux-navbar .templateux-toggle.templateux-toggle-light .hamburger-inner:before{background-color:#fff}
.templateux-navbar .templateux-toggle.templateux-toggle-light:hover{opacity:1}
.templateux-navbar .templateux-menu{float:right}
.templateux-navbar .templateux-menu a{text-decoration:none;color:white}
.templateux-navbar .templateux-menu a:active,.templateux-navbar .templateux-menu a:focus,.templateux-navbar .templateux-menu a:hover{color:white}
.templateux-navbar .templateux-menu>li{float:none;display:inline-block;line-height:1.5}
.templateux-navbar .templateux-menu>li.active>a{color:#87d9ff!important;}
.templateux-navbar .templateux-menu>li>a{text-transform:uppercase;font-size:13px;letter-spacing:.1em;padding:20px 5px;color:white!important;}
@media (min-width:992px){.templateux-navbar .templateux-menu>li>a{padding:20px 15px}}
.templateux-navbar .templateux-menu>li>a.sf-with-ul{position:relative;padding-right:20px}
.templateux-navbar .templateux-menu>li>a.sf-with-ul:after{font-family:'icomoon';top:50%;right:0;content:"\e313";position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.templateux-navbar .templateux-menu>li>ul{padding:20px 26px}.templateux-navbar .templateux-menu>li>ul>li>ul{padding:26px}
.templateux-navbar .templateux-menu>li>ul>li>ul>li>ul{padding:26px}
.templateux-navbar .templateux-menu ul{border-radius:4px;-webkit-box-shadow:0px 1px 2px 0 rgba(0, 0, 0, 0.2);box-shadow:0px 1px 2px 0 rgba(0, 0, 0, 0.2)}.templateux-navbar .templateux-menu ul a{font-size:14px;color:#999999}
.templateux-navbar .templateux-menu ul a:active,.templateux-navbar .templateux-menu ul a:focus,.templateux-navbar .templateux-menu ul a:hover{color:#000}
.templateux-navbar .templateux-menu ul a.sf-with-ul{position:relative}
.templateux-navbar .templateux-menu ul a.sf-with-ul:after{font-family:'icomoon';top:50%;right:0;content:"\e315";position:absolute;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.templateux-navbar .templateux-menu li.sfHover>a{color:white}.templateux-navbar .templateux-menu ul{text-align:left;min-width:12em;background:#fff}
.templateux-navbar .templateux-menu ul li{padding:4px 0}.templateux-navbar .templateux-menu ul li.sfHover>a{color:black}.templateux-navbar.dark .templateux-logo{margin-top:10px}
.templateux-navbar.dark .templateux-logo a{font-size:22px;color:#fff}@media (min-width:768px){.templateux-navbar.dark .templateux-logo a{color:#000}}.templateux-navbar.dark .templateux-menu{float:right}
.templateux-navbar.dark .templateux-menu a{text-decoration:none;color:gray}.templateux-navbar.dark .templateux-menu a:active,.templateux-navbar.dark .templateux-menu a:focus,.templateux-navbar.dark .templateux-menu a:hover{color:#999999}
.templateux-navbar.dark .templateux-menu li.active>a{color:#000}.templateux-navbar.dark li.sfHover>a{color:#999999}.templateux-navbar .templateux-menu li.megamenu>ul>li{width:50%}.templateux-navbar .templateux-menu li.megamenu.col-3>ul>li{float:left;width:33.333333%}.templateux-navbar .templateux-menu li.megamenu.col-4>ul>li{width:25%}
.templateux-navbar .templateux-menu li.megamenu>ul{min-width:400px}.templateux-navbar .templateux-menu li.megamenu>ul>li{float:left}.templateux-navbar .templateux-menu li.megamenu>ul>li.sfHover{display:block!important}.templateux-navbar .templateux-menu li.megamenu>ul>li.sfHover>ul{display:block!important}.templateux-navbar .templateux-menu li.megamenu>ul>li.column-heading>a{font-size:16px;color:#000!important;margin-bottom:10px}.templateux-navbar .templateux-menu li.megamenu>ul>li>a:after{display:none}
.templateux-navbar .templateux-menu li.megamenu>ul>li>ul{display:block!important;opacity:1!important;visibility:visible!important;left:0;-webkit-box-shadow:none;box-shadow:none;padding:0;margin:0;position:relative!important}.templateux-navbar .templateux-menu li.fullwidth>ul{left:0px}#mobile-menu{background-color:#595959}#mobile-menu>div{padding-top:20px;padding-bottom:20px;max-height:350px;overflow:auto}#mobile-menu ul{padding:0;margin:0}#mobile-menu ul li{padding:0;list-style:none;display:block;position:relative}
#mobile-menu ul li a{padding:7px 10px;color:#fff;display:block;position:relative;border-bottom:1px solid rgba(255, 255, 255, 0.05)}#mobile-menu ul li .arrow-collapse{position:absolute;right:0;top:0;width:35px;height:35px;display:inline-block;z-index:120;cursor:pointer;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
#mobile-menu ul li .arrow-collapse:before{font-family:'icomoon';color:#fff;top:50%;left:50%;content:"\e313";position:absolute;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}#mobile-menu ul li .arrow-collapse.active{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}#mobile-menu ul li ul li a{padding-left:30px}#mobile-menu ul li ul li ul li a{padding-left:60px}#mobile-menu ul li ul li ul li ul li a{padding-left:90px}
i{font-size:220%;color:#40b6ec}
.templateux-cover{background-size:cover;z-index:1;}
.templateux-cover,.templateux-cover .row{min-height:600px}
.templateux-cover .heading{font-size:70px!important;line-height:1.1;color:#fff;font-family:Comic Sans MS;font-weight:bolder;}
.headword{color:#40b6ec;}
@media (min-width:768px){.templateux-cover .heading{font-size:50px}}.templateux-cover .lead{color:#999999;line-height:1.8}
.btn{-webkit-box-shadow:none!important;box-shadow:none!important;border-radius:0px;text-transform:uppercase;font-size:14px;letter-spacing:.1em;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.btn.btn-primary:active,.btn.btn-primary:focus,.btn.btn-primary:hover{border-color:#36a1ff;background-color:#36a1ff}.btn.btn-black{background:#000;color:#fff}
.form-control{border-radius:0;height:50px;-webkit-box-shadow:none!important;box-shadow:none!important;border:1px solid #cccccc}.form-control:active,.form-control:focus{border-color:#000}textarea.form-control{height:inherit}.block-icon-1 .icon span{font-size:80px;color:#d6dadd}.block-icon-1 .icon.small span{font-size:40px}.block-icon-1 h3{font-size:18px}.block-testomonial{text-align:center}.block-testomonial p{font-size:18px;color:#000;line-height:2}.block-thumbnail-1{height:500px;display:block;background-size:cover;background-position:center center;position:relative}.block-thumbnail-1.height-sm{height:350px}.block-thumbnail-1:hover{opacity:1}.block-thumbnail-1:before{position:absolute;content:"";top:0;left:0;right:0;bottom:0;background:#000;z-index:2;opacity:.1;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}.block-thumbnail-1 .block-thumbnail-content{position:absolute;top:50px;z-index:3;left:20px;opacity:0;visibility:hidden;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}.block-thumbnail-1 .block-thumbnail-content h2{font-size:22px;color:#fff!important}.block-thumbnail-1 .block-thumbnail-content .post-meta{opacity:.3;color:#fff!important}.block-thumbnail-1:hover{opacity:1}.block-thumbnail-1:hover:before{opacity:.5}.block-thumbnail-1:hover .block-thumbnail-content{top:20px;opacity:1;visibility:visible}.block-thumbnail-1.one-whole{width:100%}.block-thumbnail-1.one-third{width:100%}@media (min-width:576px){.block-thumbnail-1.one-third{width:50%}}@media (min-width:768px){.block-thumbnail-1.one-third{width:33.333%}}.block-thumbnail-1.two-third{width:100%}@media (min-width:576px){.block-thumbnail-1.two-third{width:50%}}@media (min-width:768px){.block-thumbnail-1.two-third{width:66.666%}}.block-thumbnail-1.show-text:before{opacity:.3}.block-thumbnail-1.show-text .block-thumbnail-content{opacity:1!important;visibility:visible!important;top:20px!important}.block-thumbnail-1.show-text:hover:before{opacity:0.7!important}.block-footer-widget h3{text-transform:uppercase;font-size:15px;color:#cccccc!important}.block-social li{display:inline-block;font-size:18px}.block-person-1 img{max-width:100px;border-radius:50%;margin:0 auto 40px auto}.block-person-1 .block-content .heading{font-size:18px}.block-person-1 .block-content .subheading{font-size:16px}.block-map-1{margin-top:0em;height:780px;background:#fff;-webkit-box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.2);box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.2)}@media (min-width:768px){.block-map-1{margin-top:-15em}}.templateux-block-play{display:inline-block;width:80px;height:80px;border:2px solid rgba(0, 0, 0, 0.1);position:relative;border-radius:50%;-webkit-transition:.2s all ease;-o-transition:.2s all ease;transition:.2s all ease;top:50%}@media (min-width:992px){.templateux-block-play{top:0}}.templateux-block-play span{top:50%;left:50%;margin-left:4px;font-size:40px;position:absolute;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}.templateux-block-play:active,.templateux-block-play:focus{outline:none}.templateux-block-play:hover{width:90px;height:90px}
.intro-content{
    margin-top:15%;
    bottom:15%;
    width:100%;
}

.intro-content p{
    color:#cecece!important;
    padding:2% 0;
}


nav .navbar-brand{
    margin-top:10px;
    padding:0 2%;
}

nav .nav-item .nav-link{
   
    font-weight: bold;
}

.play-vid{
    background-color: #40b6ec;
    border-radius: 50%;
    text-align: center;
    border-radius:50%;
    border: none;
    width: 60px;
    height: 60px;
    position: absolute;
    box-sizing: content-box;
    padding: 0 0 0 8px;
    cursor: pointer;
  
}

.play-vid i{
    color:white;
    font-size: 200%;
 margin-top:25%;
}


.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}


.modal-content{
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.6);
   
}

.close{
    color:white;
    border-radius:50%;
    border: none;
    outline: none;
    width: 44px;
    height: 44px;
    position: absolute;
    right: -22px;
    top: -24px;
    font-size: 240%;
}


#myVideo{
    width:100%;
    height:500px;
  
}




.about-us{
    margin-top:8% ;
}

.about-us .button{
   
    display: inline-block;
    margin-top: 25%;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none!important;
    background: #40b6ec;
    padding: 10px 40px;
    line-height: 25px;
    -webkit-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
    -moz-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
    box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);

}
.about-imgs img{
   
   
    max-width: 100%;
   
    display: inline-block;

}

.about-imgs .about-1{
    margin-top: -50px;
    border-radius: 5px; 

}

.about-imgs .about-2{
    margin-top: 50px;
    border-radius: 5px;
}






.services{
    margin-top: 8%;
}
.services .grid-item{ transition: all .3s ease-out}
.Services  .grid-item :hover{
        background: #fff;
        box-shadow: 0 0 30px 0;
        -moz-box-shadow: 0 0 30px 0;
        -webkit-box-shadow: 0 0 30px 0;
        

    }

    
    .grid-title{padding: 5% 0 3%}
    .grid-title span{
        font-size:80%;
       

    }


   
.Portfolio {
    padding:70px;
}


.Portfolio h2{

    font-size: 150%;
    font-weight: bold;
    margin-bottom: 15px;
}


.Portfolio ul li{
    margin-left:10px;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    background: #fff;
    color:#08526d;
    border:1px solid#08526d;
   
    letter-spacing: 1;
    font-weight: 500;
}
.Portfolio ul li.active{
    color:#fff;
    background: #08526d;
    border:1px solid #08526d;
}

.Portfolio ul li:hover{
    color:#fff;
    background: #08526d;
    border:1px solid #08526d;

    cursor: pointer;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;
}

.Portfolio .portfolio-grid{
    margin-top: 50px;
}

.Portfolio .portfolio-grid .row{
    margin:0;
}


.Portfolio .portfolio-grid .row .col-md{
    padding: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .6s ease-in-out;
    -o-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;
}

.Portfolio .portfolio-grid .row .col-md img{
    width:100%;
}





   




   

  


   
 

    .sec-grid{
        margin-top: 2%;
    }

    .team .team-box{
        background-color:whitesmoke;
        box-shadow: 0px 20px 51px -1px rgba(144,155,165,0.29);
        width:100%;
        text-align: center;
        margin-top:8%;
    }

    .team{
        margin-top:8%;
    }

    .team-photo {
        max-height: 300px;
        overflow: hidden;
    }


    .team-photo img{
      width: 100%;
    }
    .team-ttl {
            padding: 40px 0 20px 0;
            font-weight:bolder;
           
            font-size: 120%;
        } 


    .team-ttl  span{
            font-weight:bold;
           
            color:#083b8a;
        } 

    .team-ttl p,.team-con p{
          
       color:#a5a5a5;
  
        } 

        .team-con {
            padding: 0 10%;
            padding-bottom: 60px;
        }




        .team-info {
            position: absolute;
            width: 100%;
            bottom: -15px;
            left: 0;
            text-align: center;
        }

        
        .team .heading span {
            display: block;
            font-weight: 600;
            color: #b7c5db;
            font-size: 12px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

       .team .heading h2 {
            color: rgb(2, 2, 2);
           
           
            text-align: center;
            margin: 0;
            background: url(../imgs/line.png) no-repeat bottom center;
            padding-bottom: 20px;
        }

.start-project{
    margin-top:5%;
    padding: 100px 0;
    background: #1080f2 url(../imgs/parallaxbg.jpg) no-repeat;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;}


   .start-project .heading {
        float: left;
        width: 100%;
        margin-bottom: 60px;
    }
    
    .start-project .heading span {
        display: block;
        font-weight: 600;
        color: #FFFFFF;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .start-project  .heading h2 {
        color: #FFFFFF;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin: 0;
        background: url(../imgs/line.png) no-repeat bottom center;
        padding-bottom: 20px;
    }


    .start-project  p {
        color: #FFFFFF;
        margin-bottom: 0;
        text-align: center;
    }

    .getbtn {
        text-align: center;
        margin-top: 40px;
    }

    .get {
        display: inline-block;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none!important;
        background: #40b6ec;
        padding: 10px 40px;
        line-height: 25px;
        -webkit-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
        -moz-box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
        box-shadow: 0px 15px 32px 1px rgba(0,0,0,0.23);
    }

    .contact{
        background-color: #e6e6e6;
        margin-top: 8%;

    }


    .fool-box{  float: left;
    width: 100%;
    background: #FFFFFF;
    min-height: 275px;
    -webkit-box-shadow: 0px 20px 51px -1px rgba(144,155,165,0.29);
    -moz-box-shadow: 0px 20px 51px -1px rgba(144,155,165,0.29);
    box-shadow: 0px 20px 51px -1px rgba(144,155,165,0.29);}


    .fool-box i {
        width: 65px;
        height: 65px;
        background: #FFFFFF;
        text-align: center;
        border-radius: 50%;
        color: #083b8a;
        font-size: 32px;
        display: block;
        line-height: 60px;
        /* margin: 0 auto; */
        float: left;
        margin-left: 40px;
        margin-top: -30px;
        -webkit-box-shadow: 0px 6px 18px -3px rgba(144,155,165,0.31);
        -moz-box-shadow: 0px 6px 18px -3px rgba(144,155,165,0.31);
        box-shadow: 0px 6px 18px -3px rgba(144,155,165,0.31);
    }

    .footer{
        margin-top:8%;
        border-top:1px solid rgb(196, 196, 196);
        height:100px;
    }

    .footer .container{
        padding:2% 0;
    }
    .footer  .footer-copyright p{
     color: #797979;
    }

    .footer .footer-copyright a{
      color:#083b8a;

    }
  